- var pageTitle = "Hello University of Texas"
- var site = "AguacateKun"
- var fbPreview = "https://miguel-rivas.github.io/zapp/img/tx_university.png"
- var icoPath = "https://miguel-rivas.github.io/zapp/img/favicon.png"
- var icoBackground = "#222"
- var description = "University of Texas // CoverLetter"
- var viewPort = true
- var imgSufix = "img/"